html, body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  /* cursor: url('pinkdot.png'), crosshair; */
  /*background-color: #ffff80;*/
  background-color:black;
}

.header
{
  /* max-width: 90vw; */
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding: 5em;
  }
.grid img {
  max-width: 100%;
}

p {
  color: white;
  font-size: 19px;
  font-family: 'terminal_grotesque';
  width: 60%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    letter-spacing: 1px;
}

.right {
 float: right;
 position: relative;
 display: inline-block;
}

.drop {
  color: white;
}


.right-content {
  display: none;
position: absolute;
min-width: 50px;
z-index: 1;
font-family: sans-serif;
color: #fff;
}

.right-content:hover {
  display: block;
position: absolute;
min-width: 50px;
z-index: 1;
font-family: sans-serif;
color: #fff;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@font-face {
    font-family: 'vtf_victoriannaitalic';
    src: url('vtf_victorianna_thin_talic-webfont.eot');
    src: url('vtf_victorianna_thin_talic-webfont.eot?#iefix') format('embedded-opentype'),
         url('vtf_victorianna_thin_talic-webfont.woff') format('woff'),
         url('vtf_victorianna_thin_talic-webfont.ttf') format('truetype'),
         url('vtf_victorianna_thin_talic-webfont.svg#vtf_victoriannaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vtf_victoriannathin';
    src: url('vtf_victorianna_thin-webfont.eot');
    src: url('vtf_victorianna_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('vtf_victorianna_thin-webfont.woff') format('woff'),
         url('vtf_victorianna_thin-webfont.ttf') format('truetype'),
         url('vtf_victorianna_thin-webfont.svg#vtf_victoriannathin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'terminal_grotesque';
    src: url('terminal-grotesque-webfont.eot');
    src: url('terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('terminal-grotesque-webfont.woff2') format('woff2'),
         url('terminal-grotesque-webfont.woff') format('woff'),
         url('terminal-grotesque-webfont.ttf') format('truetype'),
         url('terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
